.dayContainer {
  min-width: calc(14.2857142857% - 30px);
  padding: 10px;
  min-height: 100px;
  position: relative;
}
@media only screen and (max-width: 699px) {
  .dayContainer {
    width: 100%;
  }
}
.dayContainer .dayNumber {
  position: absolute;
  top: 5px;
}
.dayContainer .dayElement {
  font-size: 0.7rem;
  padding: 3px;
}
.dayContainer .dayElement div {
  padding: 3px 7px;
}

.dayContainer .container, #modal .container {
  position: relative;
  margin-top: 20px;
  padding-top: 20px;
  height: 100%;
  width: 100%;
}
.dayContainer .dayElement > div, #modal .dayElement > div {
  padding: 10px 20px;
  margin: 2px auto;
  border-radius: 10px;
  text-align: center;
}
.dayContainer .bordered, #modal .bordered {
  border: rgba(0, 0, 0, 0.1);
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
}

#modal #leftModal, #modal #rightModal {
  padding: 20px;
}
#modal #leftModal {
  position: relative;
}
#modal #leftModal #dayPreview {
  min-height: 50%;
  min-height: 300px;
  margin-top: 20px;
}
#modal #leftModal #dayPreview .dayElement > div {
  width: 80%;
}
#modal #leftModal #dayPreview .dayNumber {
  position: absolute;
  top: 10px;
}
#modal #rightModal button {
  padding: 5px;
  margin: 2px;
  border-radius: 5px;
}

#modal.hidden {
  display: none;
}
#modal #modalBackground {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: block;
  background-color: grey;
  opacity: 0.5;
  z-index: 2;
}
#modal #modalDisplay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  background-color: white;
  min-width: 80vw;
  min-height: 80vh;
  border-radius: 20px;
}